volcengine-python-sdk[ark]
python-dotenv
pandas
torch
transformers
selenium
python-dotenv
pyarrow
networkx
pydot
datasets
matplotlib
graphviz
tenacity
txtai
h5py
wandb
einops
litellm
openai
# unsloth
# vector-quantize-pytorch



mplfinance
pandas
numpy
tushare
datetime
tqdm
# functools

dashscope
pip
attrs
distro
wheel
cryptography
pillow
setuptools
packaging
pyparsing
typing_extensions
requests
bs4
beautifulsoup4
imagehash
pypdf2